@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*Colors Palette*/
:root {
  --main-color: #22223d;
  --second-color: #565A75;
  --second-color-hover: #4AA52E;
  --third-color: #C6B7BE;
  --third-color2: #e3dbdf;
  --fourth-color: #FAFBF6;
}

html{
	font-family: 'Roboto', sans-serif !important;
	overflow: hidden;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--fourth-color);
}

a{
	font-family: 'Roboto', sans-serif !important;
	color: var(--second-color);
	font-weight: bolder;
	text-decoration: none;
}

a:hover{
	color: var(--main-color);
	text-decoration: underline;
}


#header h1{
	font-family: "Press Start 2P";
	text-align: center;
	text-transform: uppercase;
	color: var(--main-color);
	font-size: 2.5rem;
	padding-top: 20px;
	padding-bottom: 20px;
}

#container{
	display: block;
	top: 0; 
	bottom: 0;
   	position: relative;
   	width: 100%;
}

footer{
	position: fixed;
	text-align: center;
	margin: 0 auto;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid #CCC; 
	padding-top: 15px;
	background: rgb(212,212,212);
	background: linear-gradient(180deg, #dfdfdf 0%, #ffffff 100%);
}

footer p{
	font-size: 0.5rem;
	
}

footer p a{
	font-size: 0.5rem;
	font-family: "Press Start 2P" !important;
}
