@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');

/*Colors Palette*/
:root {
	--main-color: #22223d;
	--second-color: #565A75;
	--second-color-hover: #0897db;
	--third-color: #C6B7BE;
	--third-color2: #e3dbdf;
	--fourth-color: #FAFBF6;
	--highlight-color: #E59400;

	--white: #fff;
	--text: #403c4a;
	--text-emphasized: #201d29;
	--text-muted: #78757f;
	--text-pink: #c10b7e;
	--yellow: #ffe742;
	--yellow-dark: #ddc62c;
	--pink: #ff87d4;
	--pink-faded: #f5f2fc;
	--pink-dark: #970962;
	--blue: #87fffb;
	--blue-dark: #63ddd9;
	--black: #171321;
	--gray-light: #d4d0e0;
	--gray-medium: #b1acb9;
	--font-family: 'Archivo Black', sans-serif;
	--background: var(--white);
	--foreground: var(--black);
	--footnote-hover: var(--pink-dark);
}

html{
	font-family: 'Roboto', sans-serif !important;
	overflow-x: hidden;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--fourth-color);
}

body{
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a{
	font-family: 'Roboto', sans-serif !important;
	color: var(--second-color);
	font-weight: bolder;
	text-decoration: none;
}

a:hover{
	color: var(--main-color);
	text-decoration: underline;
}


#header h1{
	font-family: "Press Start 2P";
	text-align: center;
	text-transform: uppercase;
	color: var(--main-color);
	font-size: 2.5rem;
	padding-top: 20px;
	padding-bottom: 20px;
}

#container{
	display: block;
	top: 0; 
	bottom: 0;
   	position: relative;
   	width: 100%;
}

footer{
	display: block;
	position: absolute;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	border-top: 1px solid #CCC; 
	padding-top: 15px;
	background: rgb(212,212,212);
	background: linear-gradient(180deg, #dfdfdf 0%, #ffffff 100%);
}

footer p{
	font-size: 0.5rem;
	
}

footer p a{
	font-size: 0.5rem;
	font-family: "Press Start 2P" !important;
}


@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
